.navbar {
    background-color: lightslategrey;
}

.quem-somos{
    background-color: aquamarine;
}

#quemsomos{
    margin-top: 10px;
}

.bg-footer{ 
    background-color: rgb(158, 158, 158);
}

.margin { 
    padding-bottom: 30px;
    padding-top: 20px;
}

.parceiros{ 
    background-color: antiquewhite;
}