:root{
    --rosa: rgb(226, 0, 226);
    --preta: rgb(29, 29, 29);
}


body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    margin-left: 20px;
    margin-right: 20px;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}


header .logo{
    color: var(--rosa);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin-left: 10px;
    text-align: left;

}

header nav a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 10px;
}

header nav a:hover{
    color: var(--rosa);
    text-decoration: none;
    transition:  .3s ease all;
}

/* filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/netflix/img/thor.jpg');
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.botao{
    background-color:rgba(0, 0, 0, 0.5);
    border: none;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 15px 30px;
    margin-right: 15px;
    margin-top: 20px;
    font-size: 14px;
    cursor: pointer;
    transition:  .3s ease all;
}

.botao:hover{
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--rosa);
}

.botao i{
    margin-right: 4px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.owl-dots{
    display: none;
}

.carrosel-filmes{
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

hr{
    margin-top: 20px;
    opacity: 30%;
}

footer a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 10px;
}

footer a:hover{
    color: var(--rosa);
    text-decoration: none;
    transition:  .3s ease all;
}